.demo-logo-vertical {
  height: 32px;
  margin: 16px;
  background: rgba(255,255,255,.2);
  border-radius: 6px;
}

.header_menu {
  cursor: pointer;
  height: 100%;
  /* border: 1px solid red;
  display: flex;
  justify-content: center; */
}

.header_menu:hover {
  background: #eee;
}

.header_menu_button {
  min-width: 32px;
  padding: 0 16px;
}

.header_menu_placeholder {
  width: 20px;
  cursor: auto;
}

.header_menu_placeholder:hover {
  background: transparent;
}